body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}
#logo{
   
    background: #126494;
}
#menu ul li:hover{
    background: #126494;
}
.button-more{ 
    background: #126494;
}
